@import '@uppy/core/dist/style.min.css';
@import '@uppy/dashboard/dist/style.min.css';
@import '@uppy/image-editor/dist/style.min.css';

.uppy-Root {
  position: relative;
  z-index: 1;
}

.uppy-Dashboard-Item-previewImg {
  pointer-events: none;
}

.uppy-Dashboard-Item-progressIndicator {
  display: none;
}

.uppy-ImageCropper .cropper-modal {
  background-color: rgba(0, 0, 0, .7);
}
